.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #06157f;
  height: 18px;
  padding: 2px;

  cursor: grab;
}

.wrapperNotActive {
  background: #808080;
}

.titleText {
  margin: 0;
  color: #fff;
  font-size: 14px;
}

.firstGroup {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.leftContainer {
  display: flex;
  justify-content: space-between;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
}
