.wrapper {
  border-style: groove solid solid groove;
  border-width: 2px 1px 1px 2px;
  border-color: rgb(230, 230, 230) rgb(132, 130, 132) rgb(132, 130, 132) rgb(230, 230, 230);
  box-shadow: rgb(230 230 230) 1px 1px 0px 0px;
}

.legend {
    font-size: 15px;
}