@font-face {
  font-family: "ms_sans_serif";
  src: url("/fonts/ms_sans_serif.woff2") format("woff2");
}

@font-face {
  font-family: "ms_sans_serif";
  font-weight: 700;
  src: url("/fonts/ms_sans_serif_bold.woff2") format("woff2");
}

html,
body {
  background: #008484;
  /* padding: 100px; */
  margin: 0;
  font-family: "ms_sans_serif";
}
body {
  height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
