.container {
  display: flex;
  flex-direction: column;
}

.image {
  display: block;
  width: 80%;
  // max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.nickname {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
